{
    "presets": [
        /*
            [ "@babel/preset-env", { useBuiltIns: "usage", corejs: 3, targets: "defaults" } ]
        */
        "@babel/preset-env",
        ["@babel/preset-react", { "runtime": "automatic" }],
        "@babel/preset-typescript"
    ]
}
